body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
}

#content {
    display: flex;
    flex-direction: column;
}

#header {
    background-color: #79a33d;
    height: 8vh;
    padding-left: 10px;
    display: flex;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.671);
    
}


#header ul {
    list-style: none;
    display: flex;
    margin-left: auto;
    margin-right: 100px;
    align-items: center;
}

#header li {
    margin-left: 50px;
}

#main {
    display: flex;
    min-height: calc(100vh - 13vh);
    background-image: url(./rocket-cantina-taco.jpg);
    background-size: cover;
    color: white;
    background-position: 0;
}

#main>p {
    font-size: 48px;
    text-align: center;
    font-weight: 900;
    font-family: 'Roboto Slab';
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-card {
    display: flex;
    background-color: #ff7504;
    border-radius: 15px;
    height: 30%;
    width: 20%;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.671);
}

#main-card p {
    font-size: 2rem;
    font-weight: 400;
}

#footer {
    background-color: #f1ac18;
    height: 5vh;
    color: black;
    text-align: center;
}

#footer p {
    margin-top: 12px;
}

#menu-title {
    font-size:  3rem;
}

#menu-container {
    border-radius: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
}

#about-us-content {
    background-color: #f25b0a;
    width: 50%;
    padding: 10px;
    border-radius: 15px;
}

#about-us-content>p {
    padding: 10px;
    font-size: 1.5rem;
    text-align: center;
}

#title {
    font-size: 1.5rem;
    margin: 0;
}

.menu-item-container {
    background-color: #f25b0a;
    display: flex;
    flex-direction: column;
    margin: 20px;
    border-radius: 10px;
    width: 20%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.menu-item-container p {
    font-family: 'roboto';
    font-weight: 400;
    padding: 5px;
    text-align: center;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.671);
}

.menu-items-names {
    font-size: 2rem;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.671);
}

@media screen and (max-width: 1700px) { 
    #main-card {
        word-wrap: normal;
        width: 40%;
    }
}

@media screen and (max-width: 1360px) {
    #menu-container {
        flex-direction: column;
        align-items: center;
    }

    .menu-item-container {
        width: 40%;
    }
}

@media screen and (max-width: 731px) {
    #header li {
    margin: 5px;
    }

    #header ul {
        margin-right: 0;
    }

    #main-card p {
        font-size: 1rem;
    }

    #title {
        font-size: 1rem;
    }

    #menu-title {
        text-align: center;
    }

    #about-us-content p {
        font-size: 1rem;
    }

    #about-us-content {
        width: 70%;
    }

    #footer p {
        font-size: 1rem;
        margin: 0;
        padding-top: 8px;
    }
}