body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

#content {
    display: flex;
    flex-direction: column;
}

#header {
    background-color: #79a33d;
    height: 8vh;
    padding-left: 10px;
    display: flex;
    color: white;
    text-align: center;
}

#header ul {
    list-style: none;
    display: flex;
    margin-left: auto;
    margin-right: 100px;
    align-items: center;
}

#header li {
    margin-left: 50px;
}

#main {
    display: flex;
    min-height: calc(100vh - 13vh);
    background-image: url(./rocket-cantina-taco.jpg);
    background-size: cover;
    color: white;
    background-position: 0;
}

#main>p {
    font-size: 48px;
    text-align: center;
    font-weight: 900;
    font-family: 'Roboto Slab';
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-card {
    display: flex;
    background-color: #ff7504;
    border-radius: 15px;
    height: 30%;
    width: 20%;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

#main-card p {
    font-size: 3vh;
    font-weight: 400;
}

#footer {
    background-color: #f1ac18;
    height: 5vh;
    color: black;
    text-align: center;
}

#footer p {
    margin-top: 12px;
}

#menu-title {
    font-size:  5vh;
}

#menu-container {
    border-radius: 15px;
    text-align: center;
    display: flex;
}
.menu-item-container {
    background-color: #f25b0a;
    margin: 20px;
    border-radius: 10px;
    width: 300px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.menu-item-container p {
    font-size: 2vh;
    font-family: 'roboto';
    font-weight: 400;
    padding: 5px;
    text-align: center;
}

.menu-items-names {
    font-size: 3vh;
}